.swipeable-bs-root__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: opacity 450ms;
    pointer-events: none;
    opacity: 0;
    background-color: black;
}

.swipeable-bs-root__overlay--open {
    pointer-events: auto;
    opacity: 0.54;
}
